body {
  font-family: Helvetica;
  text-align: center;
  background-image: url("the-flatiron-building.jpg");
  background-position: top;
  background-size: auto;
}

.bottomFooter {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}

.main {
  background-color: white;
}

.navigation {
  font-size: 18px;
  color: white;
}

h2, h3 {
  font-weight: bold;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px
}

#newYork {
  color: white;
  background: none;
}

p {
  font-size: 14px;
}

h1 {
  font-size: 70px
  color: white;
  font-weight: bold;
}
