body {
  font-family: Helvetica;
  text-align: center;
  background-image: url("the-flatiron-building.jpg");
  background-position: top;
  background-repeat: no-repeat;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
}

.main {
  color: black;
  background-color: white;
}

a {
  font-size: 18px;
  color: white;
}

.navigation {
  color: white
}

h2, h3 {
  font-weight: bold;
  color: black;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px
}

#newYork {
  color: white;
  font-size: 32px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

#footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}
